.login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

.login__welcome {
  color: white;
  font-size: 24px;
  font-weight: 900;
  margin: 0 auto;
}
.login__form {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 36px;

  background-color: black;
  color: white;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 57px;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.email {
  /* max-width: 358px; */
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 5px 10px;
  outline: none;
  background-color: transparent;
}

.password {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 5px 10px;
  outline: none;
  background-color: transparent;
}

.login__button-container {
  padding: 14px, 84px, 14px, 84px;
  width: 358px;
  height: 50px;
}

.login__button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff;
  size: 18px;
  color: black;
  border-radius: 7px;
}

.signup__link {
  color: white;
}

.login__signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  gap: 8px;
  font-size: 14px;
  line-height: 17px;
}

.signup__link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 530px) {
  .login__form {
    max-width: 260px;
  }

  .login__button-container {
    max-width: 100%;
  }

  .login__button {
    width: 260px;
    height: 46px;
  }
}
